<h1>Listing meetings</h1>

<table>
  <tr>
    <th>Nr</th>
    <th>Dato</th>
    <th>Sted</th>
    <th>Kl</th>
    <th>Navn</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.nr %></td>
    <td><%= meeting.dato %></td>
    <td><%= meeting.sted %></td>
    <td><%= meeting.kl %></td>
    <td><%= meeting.navn %></td>
    <td><%= link_to 'Show', meeting %></td>
    <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
    <td><%= link_to 'Destroy', meeting, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meeting', new_meeting_path %>
