<%= form_for(@agenda) do |f| %>
  <% if @agenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agenda.errors.count, "error") %> prohibited this agenda from being saved:</h2>

      <ul>
      <% @agenda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meetingnr %><br />
    <%= f.text_field :meetingnr %>
  </div>
  <div class="field">
    <%= f.label :punktnr %><br />
    <%= f.text_field :punktnr %>
  </div>
  <div class="field">
    <%= f.label :punktnavn %><br />
    <%= f.text_field :punktnavn %>
  </div>
  <div class="field">
    <%= f.label :beskrivelse %><br />
    <%= f.text_area :beskrivelse %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
